{% extends 'base.html' %} {% load static %} {% block content %}
<img src="{% static 'me.jpg' %}" class="image" style="width: 600px;height: 350px;">
<p style="text-align: center;">My name is Borys and I am a beginner programmer. I started my journey at the beginning of 2020 with Python Developer course. Since then I am trying to expend my knowledge. I find it frustrating, hard and totally awesome. If you are looking for a Python
    programmer you found him! Don't regret your decision, contact ME!</p>
<p style="text-align: center;">Cheers!</p>
{% endblock content %}