<html>
        <head>
                <title>Creating bash scripts</title>
        </head>
        <body>
                <h4>How to create a script that will automatically run when called?</h4>
                <h2> Each time you want to pull changes from your git repository to your remote serv>
                <li> Log to your server - ssh user@server.ip </li>
                <li> Get to the specific file where your work is being kept - cd /var/www </li>
                <li> Pull the work from git repo - git pull </li>
                <li> Hope that it all worked </li>
                <h2> However, you can make your life easier by creeating a script that will do all t>
                <li> Get to the folder where you keep your project </li>
                <li> Create a file that will have a name of your command - vim remote_gitpull.sh</li>
                <li> Type your shell script. That's where you want to type exactly the same routine >
                <li> Save changes </li>
                <p> Now you can pull changes from git repo by calling your script. Remamber that you>

        </body>
</html>
