{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Java Script</h1>
<p>In order to include your JS code in html, you need to keep it in<code>&lt;script></code>tags. You can either locate it at the end of the<code>&lt;body></code> or <code>&lt;head></code>. You may wonder why we would like to do this in the first place. Well,
    JS allows you to make your websites and apps interactive, so it's a big plus.</p>
<div>
    <h2>JavaScript topics</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/js_methods">JS methods</a></li>
        <li class="list-group-item"><a href="/dom_access_methods">DOM access methods</a></li>
        <li class="list-group-item"><a href="/modifying_existing_element">Modifying an existing element</a></li>
        <li class="list-group-item"><a href="/dom_events">DOM events</a></li>
        <li class="list-group-item"><a href="/dom_animation">DOM animation</a></li>
        <li class="list-group-item"><a href="/ajax">AJAX</a></li>
    </ul>
</div>

{% endblock content %}