{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Code Wars exercises - JavaScript</h1>
<h3>Convert number to reversed array of digits</h3>
<p>Given a random non-negative number, you have to return the digits of this number within an array in reverse order.</p>
<p>Example: 348597 => [7,9,5,8,4,3]</p>
Number : <input type="number" id="myNumber">
<button onclick="reverseFunction()" class="buttons">Reverse It</button>
<button onclick="showCode()" class="buttons">Show code</button>
<p id="demo"></p>
<div id="ex_1" style="display: none;">
    <pre><code>function digitize(n) {
var n = n.toString();
n = Array.from(n);
n = n.map(el=>parseInt(el));
n = n.reverse();
return n;
};    
</code></pre>
</div>
<hr>
<h3>Vowel Count</h3>
<p>Return the number of vowels in the given string. We will consider only: a, e, i, o, u.</p>
<p>I decided to put this exercise here as in order to solve it, you can use a loop within a loop, which is handy when comparing.</p>
String:<input type="text" id="myString">
<button onclick="getCountFunction()" class="buttons">Count It</button>
<button onclick="showCode2()" class="buttons">Show code</button>
<p id="demo2"></p>
<div id="ex_2" style="display: none;">
    <pre><code>function getCount(str) {
var vowelsCount = 0;
var vowels = 'aeiou';
vowels = vowels.split('');
str = str.split('');
for (i=0;i&lt;str.length;i++){
  for (j=0;j&lt;vowels.length;j++){
    if (str[i] === vowels[j]){
      vowelsCount += 1;
    }
  }
};
return vowelsCount
};
    </code></pre>
</div>
<hr>
<h3>Disemvowel Trolls</h3>
<p>Your task is to write a function that takes a string and return a new string with all vowels removed.</p>
<p>Here we will use the <code>replace()</code> method.</p>
String:<input type="text" id="myString2">
<button onclick="replaceFunction()" class="buttons">Replace</button>
<button onclick="showCode3()" class="buttons">Show code</button>
<p id="demo3"></p>
<div id="ex_3" style="display: none;">
    <pre><code>function disemvowel(str) {
    return str.replace(/[aeiou]/gi,"");
}
</code></pre>
</div>
<h3>Shortes Word</h3>
<p>Given a string of words, return the length of the shortest wrod(s).</p>
String:<input type="text" id="myString3">
<button onclick="sortFunction()" class="buttons">Replace</button>
<button onclick="showCode4()" class="buttons">Show code</button>
<p id="demo4"></p>
<div id="ex_4" style="display: none;">
    <pre><code>function findShort(s){
s = s.split(' ').sort()
var len = []
for (i=0;i&lt;s.length;i++){
  len[i]=s[i].length
}
len = len.sort(function(a,b){return a-b})
return Math.min.apply(0,len)
}
</code></pre>
</div>
<h3>Two to One</h3>
<p>Take 2 strings s1 and s2 including only letters from ato z. Return a new sorted string, the longest possible, containing distinct letters, each taken only once - coming from s1 or s2.
</p>
<p>This exercise shows you how to get rid of duplicates.</p>
String 1:<input type="text" id="myString4"> String 2:<input type="text" id="myString5">
<button onclick="setFunction()" class="buttons">Set</button>
<button onclick="showCode5()" class="buttons">Show code</button>
<p id="demo5"></p>
<div id="ex_5" style="display: none;">
    <pre><code>function longest(s1, s2) {
    s3 = s1.concat(s2)
    s3 = new Set(s3)
    return Array.from(s3).sort().join('')
}
</code></pre>
</div>
<script>
    function reverseFunction() {
        var x = document.getElementById('myNumber').value;
        x = x.toString();
        x = Array.from(x);
        x = x.map(el => parseInt(el));
        x = x.reverse()
        document.getElementById("demo").innerHTML = x;
    }

    function showCode() {
        var x = document.getElementById("ex_1");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function getCountFunction() {
        var x = document.getElementById("myString").value;
        x = x.toLowerCase();
        var vowelsCount = 0;
        var vowels = "aeiou";
        vowels = vowels.split('');
        x = x.split('');
        for (i = 0; i < x.length; i++) {
            for (j = 0; j < vowels.length; j++) {
                if (x[i] === vowels[j]) {
                    vowelsCount += 1
                }
            }
        }
        document.getElementById("demo2").innerHTML = vowelsCount;
    }

    function showCode2() {
        var x = document.getElementById("ex_2");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function replaceFunction() {
        var x = document.getElementById("myString2").value;
        x = x.replace(/[aeiou]/gi, "");
        document.getElementById("demo3").innerHTML = x;
    }

    function showCode3() {
        var x = document.getElementById("ex_3");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function sortFunction() {
        var len = [];
        var x = document.getElementById("myString3").value;
        x = x.split(' ').sort();
        for (i = 0; i < x.length; i++) {
            len[i] = x[i].length
        }
        len = len.sort(function(a, b) {
            return a - b
        })
        len = Math.min.apply(0, len)
        document.getElementById("demo4").innerHTML = len
    }

    function showCode4() {
        var x = document.getElementById("ex_4");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    function setFunction() {
        var s1 = document.getElementById('myString4').value;
        var s2 = document.getElementById('myString5').value;
        var s3 = s1.concat(s2);
        s3 = new Set(s3);
        document.getElementById("demo5").innerHTML = Array.from(s3).sort().join('');
    }

    function showCode5() {
        var x = document.getElementById("ex_5");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

{% endblock content %}