{% extends 'base.html' %} {% load static %} {% block content %}
<h1>JavaScript methods</h1>
<p>When writing your JS code there is a great chance that they will come in handy. I will keep here all the methods that I used whilst doing exercises on Code Wars.</p>
<h3>String split() Method</h3>
<p>The split() method is used to split a string into an array of substrings, and returns the new array.</p>
<p id="split">ABCDEFG</p>
<button onclick="splitFunction()">Split</button>
<pre><code>&lt;p id="split">ABCDEFG&lt;/p>
&lt;button onclick="splitFunction()">Split&lt;/button>
&lt;script>
    function splitFunction() {
        var str = 'ABCDEFG';
        var res = str.split("");
        document.getElementById("split").innerHTML = res;
    }
&lt;/script>
</code></pre>
<hr>
<h3>Array slice() Method</h3>
<p>This method returns the selected elements in an array, as a new array object. The slice() method selects the elements starting ar the given <i>start</i> argument, and ends at, <i>but does not include,</i> the given <i>end</i> argument.</p>
<p id="slice">var fruits = ['Apple', 'Bannana', 'Lemon', 'Mango', 'Orange']</p>
<p>var new_fruit = fruits.slice(1,3)</p>
<button onclick="sliceFunction()">Slice</button>
<pre><code>&lt;p id="slice">var fruits = ['Apple', 'Bannana', 'Lemon', 'Mango', 'Orange']&lt;/p>
&lt;button onclick="sliceFunction()">Slice&lt;/button>
&lt;script>
    function sliceFunction() {
        var fruits = ['Apple', 'Banana', 'Lemon', 'Mango', 'Orange'];
        var new_fruits = fruits.slice(1,3);
        document.getElementById("slice").innerHTML = new_fruits;
    }
&lt;/script>
</code></pre>
<hr>
<h3>Array reverse() Method</h3>
<p>This method reverses the order of the elements in an array. It will change an original array.</p>
<p id="reverse">var transport = ['Car', 'Bike', 'Plane', 'Train'];</p>
<button onclick="reverseFunction()">Reverse</button>
<pre><code>&lt;p id="reverse">var transport = ['Car', 'Bike', 'Plane', 'Train']&lt;/p>
&lt;button onclick="reverseFunction()">Reverse&lt;/button>
&lt;script>
    function reverseFunction() {
        var transport = ['Car', 'Bike', 'Plane', 'Train'];
        var rev_trans = transport.reverse();
        document.getElementById("reverse").innerHTML = rev_trans; 
    }
&lt;/script>
</code></pre>
<hr>
<h3>Arry join() Method</h3>
<p>This method returns the array as a string.The elements will be separated by a sepcified separator. The deafualt separator is comma (,). This method will not change the original array.</p>
<p id="join">var languages = ['Python', 'Java', 'C#', 'Ruby', 'PHP']</p>
<button onclick="joinFunction()">Join</button>
<pre><code>&lt;p id="join">var languages = ['Python', 'Java', 'C#', 'Ruby', 'PHP']&lt;/p>
&lt;button onclick="joinFunction()">Join&lt;/button>
&lt;script>
    function joinFunction() {
        var languages = ['Python', 'Java', 'C#', 'Ruby', 'PHP'];
        var join_lang = languages.join();
    document.getElementById("join").innerHTML = join_lang;
    }
</code></pre>
<hr>
<h3>Number toString() Method</h3>
<p>This method converts a number to a string.</p>
<p id="toString">var num = 13;</p>
<button onclick="toStringg()">toString</button>
<pre><code>&lt;p id="toString">var num = 13;&lt;/p>
&lt;button onclick="toStringg()">toString&lt;/button>
&lt;script>
    function toStringg() {
        var number = 13;
        var numString = number.toString();
        document.getElementById("toString").innerHTML = numString;
    }
&lt;/script>
</code></pre>
<hr>
<h3>parseInt() Function</h3>
<p>This function parses a string and returns an integer.Remamber, only the first number in the string is returned!</p>
<p id="parseInt">var a = '623'</p>
<button onclick="parseIt()">ParseInt</button>
<pre><code>&lt;p id="parseInt">var a = '623'&lt;/p>
&lt;button onclick="parseIt()">ParseInt&lt;/button>
&lt;script>
    function parseIt() {
        var string = '623';
        var strToInt = parseInt(string);
        document.getElementById("parseInt").innerHTML = strToInt;
    }
&lt;/script>
</code></pre>
<hr>
<h3>Array push() Method</h3>
<p>This method is used in order to add an element to the end of an array.</p>
<p id="push">Banana,Orange,Apple,Mango</p>
<button onclick="pushFunction()">Push</button>
<pre><code>&lt;p id="push">Banana,Orange,Apple,Mango&lt;/p>
&lt;button onclick="pushFunction()">Push&lt;/button>
&lt;script>
    function pushFunction() {
        var fruits = ['Banana', 'Orange', 'Apple', 'Mango'];
        document.getElementById("push").innerHTML = fruits;
        fruits.push("Kiwi");
        document.getElementById("push").innerHTML = fruits;
    }
&lt;/script>
</code></pre>
<hr>
<h3>Array unshift() Method</h3>
<p id="unshift">Banana,Orange,Apple,Mango</p>
<button onclick="unShiftFunction()">Unshift</button>
<pre><code>&lt;p id="unshift">Banana,Orange,Apple,Mango&lt;/p>
&lt;button onclick="unShiftFunction()">Unshift&lt;/button>
&lt;script>
function unShiftFunction() {
    var fruits = ['Banana', 'Orange', 'Apple', 'Mango'];
    document.getElementById("unshift").innerHTML = fruits;
    fruits.unshift('Kiwi', 'Durian');
    document.getElementById("unshift").innerHTML = fruits;
&lt;/script>
</code></pre>
<hr>
<h3>Methd split()</h3>
<script>
    function splitFunction() {
        var str = 'ABCDEFG';
        var res = str.split("");
        document.getElementById("split").innerHTML = res;
    }

    function sliceFunction() {
        var fruits = ['Apple', 'Banana', 'Lemon', 'Mango', 'Orange'];
        var new_fruits = fruits.slice(1, 3);
        document.getElementById("slice").innerHTML = new_fruits;
    }

    function reverseFunction() {
        var transport = ['Car', 'Bike', 'Plane', 'Train'];
        var rev_trans = transport.reverse();
        document.getElementById("reverse").innerHTML = rev_trans;
    }

    function joinFunction() {
        var languages = ['Python', 'Java', 'C#', 'Ruby', 'PHP'];
        var join_lang = languages.join();
        document.getElementById("join").innerHTML = join_lang;
    }

    function toStringg() {
        var number = 13;
        var numString = number.toString();
        document.getElementById("toString").innerHTML = numString;
    }

    function parseIt() {
        var string = '623';
        var strToInt = parseInt(string);
        document.getElementById("parseInt").innerHTML = strToInt;
    }


    function pushFunction() {
        var fruits = ['Banana', 'Orange', 'Apple', 'Mango'];
        document.getElementById("push").innerHTML = fruits;
        fruits.push("Kiwi");
        document.getElementById("push").innerHTML = fruits;
    }

    function unShiftFunction() {
        var fruits = ['Banana', 'Orange', 'Apple', 'Mango'];
        document.getElementById("unshift").innerHTML = fruits;
        fruits.unshift('Kiwi', 'Durian');
        document.getElementById("unshift").innerHTML = fruits;

    }
</script>
{% endblock content %}