{% extends 'base.html' %} {% load static %} {% block content %}

<h1>Getting to know Python</h1>
<p>Python is a object-oriented programming language that I am trying to master.</p>
<h2>Python topics</h2>
<ul class="list-group">
    <li class="list-group-item"><a href="/python_iterators">Python Iterators</a></li>
</ul>
<p>These are the tools that I use in order to get to know it better.</p>
<ul>
    <li><a href="https://www.python.org/" target="_blank">www.python.org</a></li>
    <li><a href="https://www.codewars.com/" target="_blank">www.codewars.com</a></li>
    <li><a href="https://www.google.com/" target="_blank">www.google.com</a></li>
</ul>
{% endblock content %}