{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Getting to know Secure Shell(SSH)</h1>
<h2>What is SSH?</h2>
<p>SSH, or secure shell, is an encrypted protocol used to administer and communicate with servers.</p>

<div class="container">
  <h2>Secure Shell Topics</h2>
  <ul class="list-group">
          <li class="list-group-item"><a href="/secure_shell2">Contact form issue</a></li>
          <li class="list-group-item"><a href="/secure_shell1">SSH Keys</a></li>
  </ul>
{% endblock content %}