{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <h2>Topics</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/java_script">Java Script</a></li>
        <li class="list-group-item"><a href="/github">Github</a></li>
        <li class="list-group-item"><a href="/digital_ocean">DigitalOcean</a></li>
        <li class="list-group-item"><a href="/python">Python</a></li>
        <li class="list-group-item"><a href="/django">Django</a></li>
        <li class="list-group-item"><a href="/secure_shell">Secure Shell</a></li>
        <li class="list-group-item"><a href="/docker">Docker</a></li>
        <li class="list-group-item"><a href="/vim">Vim</a></li>
        <li class="list-group-item"><a href="/creating_scripts">Creating Scripts</a></li>
        <li class="list-group-item"><a href="/usefull_terms">Usefull terms</a></li>

    </ul>
</div>
{% endblock content %}